<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
        <img src="https://lh3.googleusercontent.com/bKsU3nEIz8cHjwkGWV2X6ImVNJITapz-i422GhSvTtlHWvX-CWqZr61TUmLwEscZV78RRPPY44XAw-rfZMFJ9g46zEkKGUSXbDwatGWstgMUiUSOT0JhegPkyzHEzmaDpiYljc127XKV-x_ay7yOrUA8VZvUZqHLVZ16Zi5_bhKEtB2E8Vy9CQc73I9qncwxcW19gtTE_hipesh4X9p3EMWCaWVTdNFm9e80EkTzdXSKreteOkbwVW53LhALHNOjVYjakZ5E4VbWrIkKjajCJWqSIl5fNVpcZn7O5k0LBvxGEQfTd6P3uG6KJfq3MWAtu6FFkEXOmDAapALM0baasr9nlh6IHUWiLH08zjA2GT3njIBCg22miuVRWpgnXre6sMtmaVLJ54hzeJl9HnxA9Zy3zfTku3sOa2W2qlaR_ua06rIsTRlo-C8JBvH9fwbxHroceQ7LGE5KkjS2QElEclE1hY2aAos73KgFRGsjNTokY6ZFCttU8eDVvoqN2C5NRHfSSf8R4VMuYstDdpdHyWSn845ZzB2OEUjOCV6oa_CUETCHWJevaoIleHNdYcsTB510y4Csvxk_rYi8vmZ9_6Vay7qH3zUtaSv_p87HVnQXWEXKN0IxauzlgPPB6rqOY96Dm0OCjog8T-Cpsgo8GgNBv3Z-9orUieaVABCLIb3Md_9ZgchyWzPgKCE8drKSULN8IikFQ20euhaKYSZ4wGiG=s667-no?authuser=2" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
         <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário(a)</p>
        </li>
        
        <li class="nav-item pl-3">
            <a href="">
            <p class="text-white fs-16 m-0">  <i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
            </a> 
        </li>

      </ul> 
      <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
               </li>
      </ul>



    </div>
  </nav>