#img-bg {
    background-image: url('https://image.freepik.com/fotos-gratis/aurora-boreal-sobre-pinhal-na-neve_49071-490.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}